body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  background-color: #1976D2;
  display: flex;
}

.header .header-title {
  color: white;
  padding: 10px 0 10px 0;
  margin: 0 20px;
}

.header .filter-todo-button {
  margin-left: auto;
  margin-right: 20px;
}

.header .filter-todo-button .choice {
  color: white;
}

.form-list {
  display: flex;
  width: 700px;
  margin: 30px auto 60px auto;
}

.create-task-form {
  position: relative;
  height: 300px;
  margin: auto;
}

.create-task-form .create-task-form-title {
  color: #1976D2;
  font-weight: bold;
  margin: 40px auto 0px auto;
}

.create-task-form .new-task-title {
  margin-top: 10px;
}

.create-task-form .new-task-content {
  margin-top: 15px;
}

.create-task-form .new-task-status {
  margin-top: 15px;
}

.create-task-form .submit-new-task {
  margin-top: 15px;
  font-weight: bold;
}

.edit-task-form {
  position: relative;
  height: 300px;
  margin: auto;
}

.edit-task-form .edit-task-form-title {
  color: #1976D2;
  font-weight: bold;
  margin: 40px auto 0px auto;
}

.edit-task-form .edit-task-title {
  margin-top: 10px;
}

.edit-task-form .edit-task-content {
  margin-top: 15px;
}

.edit-task-form .edit-task-status {
  margin-top: 15px;
}

.edit-task-form .submit-edit-task {
  margin-top: 15px;
  font-weight: bold;
}

.task-card-list {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(240px, 100%), 1fr));
  gap: 1rem;
}

.task-card {
  margin-top: 10px;
  width: 243px;
}

.task-card .card-status {
  border-radius: 10%;
}

.task-card .card-button-list {
  display: flex;
}

.task-card .card-delete-button {
  font-weight: bold;
}

.task-card .card-edit-button {
  font-weight: bold;
}
